<!doctype html>

<p>Du skal måle areal som skal bygges i {{baseCalculationMethod}}. Det betyr <strong>{{calculationMethodDescription}}</strong>.</p>
<p><a ng-href="/#/controlquestions" class="withIcon"><span class="icomoon-info"></span><span>Hva er {{calculationMethodDescription}}?</span></a></p>

