<!doctype html>

<h4>Areal</h4>
<div ng-controller="Input-5-Controller">
  <form class="form-inline" name="newRegistredAreaForm">
    <div class="form-group">
      <div class="input-group">
        <input type="number"
               name="newRegistredArea"
               ng-model="newRegistredArea"
               maxlength="10"
               max="100000"
               class="form-control ng-error"
               ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
               id="newRegistredAreaInput"
               placeholder="Sett kun inn tall"
               ng-change="updateResult('newRegistredArea', newRegistredArea)">
        <div class="input-group-addon">m2</div>
      </div>
    </div>
    <div role="alert">
      <i>
        <span ng-show="newRegistredAreaForm.newRegistredArea.$valid">&nbsp;</span>
        <span class="invalid-text" ng-show="newRegistredAreaForm.newRegistredArea.$error.max">For stort tall</span>
        <span class="invalid-text" ng-show="newRegistredAreaForm.newRegistredArea.$error.number">Benytt kun tall</span>
        <span class="invalid-text" ng-show="newRegistredAreaForm.newRegistredArea.$error.pattern">Kun to desimaler.</span>
      </i>
    </div>
  </form>
</div>
