<!doctype html>
<div class="menu-table-wrapper" ng-controller="MenuController">

  <table class="table menu-table table-no-border">
    <thead>
    <tr>
      <th colspan="2" class="col-xs-12" ng-show="!hideArrow">
        <span class="icomoon-arrow-left2" aria-hidden="true"></span>
        <a ng-href="/#/question/{{currentQuestion}}">&nbsp;Tilbake</a>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{'is-at': question.number == currentQuestion}" class="menu-question-row"
        ng-repeat="question in questions"  ng-click="openQuestion(question.number)">

      <td class="col-xs-2 menu-td" ng-class="{'answered' : isAnswered(question.number)}">
        <div class="menu-question-number ">{{question.number}}</div>
      </td>
      <td class="col-xs-8 col-xs-offset-2 menu-td" ng-class="{'answered' : isAnswered(question.number)}">
        <div class="menu-question-header">
          <span class="header">{{question.header}}</span>
          <span class="not-answered-info" ng-show="questionSkipped(question.number) && !isAnswered(question.number)">Ikke besvart</span>
        </div>
      </td>

    </tr>
    <tr>
      <td colspan="2" class="text-center col-xs-12 menu-td">
        <a href="/#/result" class="btn btn-primary btn-lg btn-show-result" role="button">Se resultat</a>
        <a href="" class="btn btn-primary btn-lg btn-start-again" ng-click="showModal()" role="button">Start på nytt</a>
      </td>
    </tr>
    <tr ng-if="bottomMenuText">
      <td colspan="2" class="bottomMenuText col-xs-12 menu-td">
      <p>
      {{bottomMenuText}}
      </p>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="clear"></div>

  <restart-modal></restart-modal>

</div>