<!doctype html>
<p>Hvis ikke du skal rive noe skriver du tallet 0 i feltet under.</p>
<p>Du skal måle areal som skal rives i {{baseCalculationMethod}}. Det betyr <strong>{{calculationMethodDescription}}</strong>.</p>
<p><a ng-href="/#/controlquestions" class="withIcon"><span class="icomoon-info"></span><span>Hva er {{calculationMethodDescription}}?</span></a></p>
