<!doctype html>

<h4>Areal som skal rives.</h4>
<div ng-controller="Input-4-Controller">
  <form class="form-inline" name="tearDownAreaForm">
    <div class="form-group">
      <div class="input-group">
        <input type="number"
               name="tearDownArea"
               ng-model="tearDownArea"
               maxlength="10"
               max="{{existingArea}}"
               class="form-control ng-error"
               ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
               id="tearDownAreaInput"
               placeholder="Sett kun inn tall"
               ng-change="updateResult('tearDownArea', tearDownArea)">
        <div class="input-group-addon">m2</div>
      </div>
    </div>
    <div role="alert">
      <i>
        <span ng-show="tearDownAreaForm.tearDownArea.$valid">&nbsp;</span>
        <span class="invalid-text" ng-show="tearDownAreaForm.tearDownArea.$error.max">Du kan ikke oppgi større areal enn <strong>{{existingArea}} m2</strong>. Dette er det du oppga som allerede bebygd areal i steg 3.</span>
        <span class="invalid-text" ng-show="tearDownAreaForm.tearDownArea.$error.number">Benytt kun tall</span>
        <span class="invalid-text" ng-show="tearDownAreaForm.tearDownArea.$error.pattern">Kun to desimaler</span>
      </i>
    </div>
  </form>
</div>
