<!doctype html>
<div class="container-fluid container-max-width" ng-controller="QuestionsController" ng-init="hideArrow = true">

  <div class="row">

    <div class="col-md-4 hidden-xs hidden-sm menu-col no-padding-left no-padding-right" ng-include="'/components/menu/menu.html'"></div>

    <div class="col-md-8">

      <div class="row">
        <div class="col-xs-12">
          <div class="visible-xs visible-sm" ng-include="'/components/menu/menu-button.html'"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div ng-include="'components/progressbar/progressbar.html'"></div>
        </div>
      </div>

      <div class="row" ng-controller="QuestionHeaderController">
        <div class="col-xs-12">
          <h3 class="header-text">{{header}}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-max-width">
          <div ng-include="'/components/questions/' + number + '/description.html'"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div ng-include="'/components/questions/' + number + '/input.html'"></div>
        </div>
      </div>

      <br/>
      <br/>

      <div class="row" ng-controller="QuestionNavigationController">
        <div class="col-xs-12">
          <span class="pull-left question-arrow">
            <a href="" ng-click="resolvePrevious(number)" class="arrow" role="button">&lt; Forrige</a>
          </span>

          <span class="pull-right question-arrow">
            <a href="" ng-click="resolveNext(number)" class="arrow" role="button">Neste &gt;</a>
          </span>
        </div>
      </div>

    </div>

  </div>
</div>