<!doctype html>
<p>Hvis eiendommen ikke er regulert til noe annet, skriver du inn tallet 0 i feltet under.</p>
<a ng-href="/#/info/{{number}}" class="withIcon"><span class="icomoon-info"></span><span>Hva er byggeområde?</span></a>
