<!doctype html>

<div class="container-fluid container-max-width">
  <div class="row">
    <div class="col-xs-12" ng-controller="InfoController">
      <p class="margin-over"><a ng-href="/#/question/{{number}}"> &lt;&nbsp;Tilbake</a></p>

      <h3 class="header-text">Hva er byggeområde?</h3>

      <p>
        Når du skal beregne grad av utnytting, skal du bare bruke arealet som er regulert til byggeområde. Du skal ikke ta med deler av
        eiendommen som er regulert til for eksempel:
      </p>
      <ul>
        <li>felles adkomstvei</li>
        <li>gang- og sykkelvei</li>
        <li>friområde</li>
        <li>grøntareal</li>
        <li>fellesområder</li>
      </ul>

      <figure>
        <img src="/images/figur_01.png" class="img-responsive" alt="illustrasjon">
        <figcaption>
          <strong>Dette kartet er bare et eksempel!</strong>
          <ul>
            <li>BLÅ: Eiendommens grenser</li>
            <li>GRÅ: Vei og felles adkomst</li>
            <li>GRØNN: Friområde</li>
            <li>GUL: Byggeområde</li>
          </ul>
        </figcaption>
      </figure>

      <p>Du skal altså måle alt bortsett fra det gule området.</p>

      <p>Sjekk din eiendom i reguleringsplan eller kommuneplan.<br/>Mål <strong>alle</strong> areal som <strong>ikke</strong> er regulert til byggeområde.</p>

    </div>
  </div>
</div>
