<!doctype html>

<h4>Areal</h4>
<div ng-controller="Input-2-Controller">
  <form class="form-inline" name="regulatedToOtherForm">
    <div class="form-group">
      <div class="input-group">
        <input type="number"
               name="regulatedToOther"
               ng-model="regulatedToOther"
               maxlength="10"
               max="{{propertyArea - 1}}"
               class="form-control ng-error"
               ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
               id="regulatedToOtherInput"
               placeholder="Sett kun inn tall"
               ng-change="updateResult('regulatedToOther', regulatedToOther)">
        <div class="input-group-addon">m2</div>
      </div>
    </div>
    <div role="alert">
      <i>
        <span ng-show="regulatedToOtherForm.regulatedToOther.$valid">&nbsp;</span>
        <span class="invalid-text" ng-show="regulatedToOtherForm.regulatedToOther.$error.max">Du kan ikke oppgi større areal enn <strong>{{propertyArea - 1}} m2</strong>. I spørsmål 1 oppga du eiendommens størrelse til <strong>{{propertyArea}} m2</strong></span>
        <span class="invalid-text" ng-show="regulatedToOtherForm.regulatedToOther.$error.number">Benytt kun tall</span>
        <span class="invalid-text" ng-show="regulatedToOtherForm.regulatedToOther.$error.pattern">Kun to desimaler</span>
      </i>
    </div>
  </form>
</div>
