<!doctype html>
<p>
  Parkeringsplasser som ligger <strong>på terreng</strong> (altså ikke i garasje) blir tatt med i grad av utnytting.
</p>
<a ng-href="/#/info/{{number}}" class="withIcon"><span class="icomoon-info"></span><span>Viktig info om krav til parkering</span></a>
