<!doctype html>

<div class="container-fluid container-max-width">
  <div class="row">

    <div class="col-xs-8" ng-controller="InfoController">

      <h3 class="header-text">Info om krav til parkering</h3>

      <div ng-include="'components/questions/6/' + regulationTime + '/info-header.html'"></div>
      <p>
        <a ng-href="/#/question/{{parkingNumber}}"> &lt;&nbsp;Tilbake</a>
      </p>

    </div>

  </div>
</div>