<!doctype html>
<span ng-controller="Input-6-Controller">
  <span ng-model="inputs[0]">
    <br>
    <h4>{{inputs[0].header}}</h4>
    <div>
      <ng-form class="form-inline" name="forms.{{inputs[0].name}}Form">
        <div class="form-group">
          <div class="input-group">
            <input type="number"
                   name="{{inputs[0].name}}"
                   ng-model="inputs[0].model"
                   maxlength="10"
                   max="100000"
                   class="form-control ng-error"
                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                   id="{{inputs[0].name}}"
                   placeholder="Sett kun inn tall"
                   ng-change="inputChange(inputs[0].name, inputs[0].model)">

            <div class="input-group-addon">{{inputs[0].unit}}</div>
          </div>
        </div>
        <div role="alert">
          <i>
            <span ng-show="areaForm.area.$valid">&nbsp;</span>
            <span class="invalid-text" ng-show="forms.{{inputs[0].name}}Form.{{inputs[0].name}}.$error.max">For stort tall</span>
            <span class="invalid-text" ng-show="forms.{{inputs[0].name}}Form.{{inputs[0].name}}.$error.number">Benytt kun tall</span>
            <span class="invalid-text" ng-show="forms.{{inputs[0].name}}Form.{{inputs[0].name}}.$error.pattern">Kun to desimaler</span>
            <span class="invalid-text" ng-show="forms.{{inputs[0].name}}Form.{{inputs[0].name}}.$error.demandNotFulfilled">Parkeringsplasser i garasje og terreng må være lik kravet</span>
          </i>
        </div>
      </ng-form>
    </div>
  </span>

  <span>
    <br/>
    <h4 ng-if="plan=='parkeringsnormen'">Har {{plan}} krav til minimum antall parkeringsplasser på terreng?</h4>
    <div>
      <ng-form>
        <div class="form-group">

          <h4>Har {{regulationPlan}} krav til minimum antall parkeringsplasser på terreng?</h4>
          <div class="input-group">
          <br/>

            <input id="hasRequiredExtraTerrainParkingPlacesInRegPlan"
                  class="reset-checkbox"
                  type="radio"
                  name="hasRequiredExtraTerrainParkingPlacesInRegPlan"
                  ng-model="hasRequiredExtraTerrainParkingPlacesInRegPlan"
                  ng-value="true"
                  ng-change="inputChange('hasRequiredExtraTerrainParkingPlacesInRegPlan', hasRequiredExtraTerrainParkingPlacesInRegPlan)">
            <label for="hasRequiredExtraTerrainParkingPlacesInRegPlan">Ja</label><br>

            <input id="hasNotRequiredExtraTerrainParkingPlacesInRegPlan"
                  class="reset-checkbox"
                  type="radio"
                  name="hasNotRequiredExtraTerrainParkingPlacesInRegPlan"
                  ng-model="hasRequiredExtraTerrainParkingPlacesInRegPlan"
                  ng-value="false"
                  ng-change="inputChange('hasRequiredExtraTerrainParkingPlacesInRegPlan', hasRequiredExtraTerrainParkingPlacesInRegPlan)">
            <label for="hasNotRequiredExtraTerrainParkinPlaces">Nei</label>

         </div>

        <div class="form-group" ng-if="hasRequiredExtraTerrainParkingPlacesInRegPlan">
        <br/>
        <h4>Hvor mange parkeringsplasser på terreng kreves?</h4>
          <div class="input-group">
              <input type="number"
                   name="{{requiredExtraTerrainParkingPlaces}}"
                   ng-model="requiredExtraTerrainParkingPlaces"
                   maxlength="10"
                   max="100000"
                   class="form-control ng-error"
                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                   id="requiredExtraTerrainParkingPlaces"
                   placeholder="Sett kun inn tall"
                   ng-change="inputChange('requiredExtraTerrainParkingPlaces', requiredExtraTerrainParkingPlaces)">

            <div class="input-group-addon">stk</div>
          </div>

        </div>
      </div>
      </ng-form>
    </div>
  </span>

  <span ng-model="inputs[1]">
    <br>
    <h4>{{inputs[1].header}}</h4>
    <div>
      <ng-form class="form-inline" name="forms.{{inputs[1].name}}Form">
        <div class="form-group">
          <div class="input-group">
            <input type="number"
                   name="{{inputs[1].name}}"
                   ng-model="inputs[1].model"
                   maxlength="10"
                   max="100000"
                   class="form-control ng-error"
                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                   id="{{inputs[1].name}}"
                   placeholder="Sett kun inn tall"
                   ng-change="inputChange(inputs[1].name, inputs[1].model)">

            <div class="input-group-addon">{{inputs[1].unit}}</div>
          </div>
        </div>
        <div role="alert">
          <i>
            <span ng-show="areaForm.area.$valid">&nbsp;</span>
            <span class="invalid-text" ng-show="forms.{{inputs[1].name}}Form.{{inputs[1].name}}.$error.max">For stort tall</span>
            <span class="invalid-text" ng-show="forms.{{inputs[1].name}}Form.{{inputs[1].name}}.$error.number">Benytt kun tall</span>
            <span class="invalid-text" ng-show="forms.{{inputs[1].name}}Form.{{inputs[1].name}}.$error.pattern">Kun to desimaler</span>
            <span class="invalid-text" ng-show="forms.{{inputs[1].name}}Form.{{inputs[1].name}}.$error.demandNotFulfilled">Parkeringsplasser i garasje og terreng må være lik kravet</span>
          </i>
        </div>
      </ng-form>
    </div>
  </span>


  <span ng-if="addedParkingPlaces>0">
    <div>
    <br/>
    <span class="icomoon-info">
    </span>
      Det totale parkeringskravet er ikke dekket. Det er lagt til {{addedParkingPlaces}} parkeringsplasser for å oppfylle minstekravet på din eiendom.
    </div>
  </span>


  <span ng-if="parkingPlaces>parkingPlacesGarage || requiredExtraTerrainParkingPlaces>0">
    <br/>
    <h4>{{extraParkingArea.header}}</h4>
    <div>
      <ng-form name="extraParkingAreaForm">
        <div class="form-group">
          <div class="input-group">
              <input type="number"
                   name="{{extraParkingArea.name}}"
                   ng-model="extraParkingArea.model"
                   maxlength="10"
                   max="100000"
                   min="1"
                   class="form-control ng-error"
                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                   id="{{extraParkingArea.name}}"
                   placeholder="Sett kun inn tall"
                   ng-change="inputChange(extraParkingArea.name, extraParkingArea.model)">

            <div class="input-group-addon">{{extraParkingArea.unit}}</div>
          </div>
        </div>
        <div role="alert">
          <i>
            <span ng-show="extraParkingAreaForm.{{extraParkingArea.name}}.$valid">&nbsp;</span>
            <span class="invalid-text" ng-show="extraParkingAreaForm.{{extraParkingArea.name}}.$error.min">Hvis det ikke står noe om hvor stor hver parkeringsplass må være gjelder 18 m2</span>
          </i>
        </div>
      </ng-form>
    </div>
  </span>




</span>
