<!DOCTYPE html>
<div class="modal" ng-class="confirmModalVisibility">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-mini modal-margin">
        <div class="row text-center">
          <div class="col-xs-12">
            <h3><strong>Er du sikker?</strong></h3>
            <p>Om du ønsker å endre dette svaret vil veilederen starte på nytt.</p>
          </div>
          <div class="col-xs-12">
            <button type="button" class="btn btn-default" ng-click="cancel()">Nei</button>
            <button type="button" class="btn btn-primary" ng-click="restart()">Ja</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
