<!DOCTYPE html>
<div class="modal" ng-class="modalVisibility">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-mini modal-margin">
        <div class="row text-center">
          <div class="col-xs-12">
            <h3><strong>Vil du starte veilederen på nytt?</strong></h3>
            <p>Alt du har gjort til nå vil gå tapt.</p>
          </div>
          <div class="col-xs-12">
            <button type="button" class="btn btn-default" ng-click="cancel()">Nei</button>
            <button type="button" class="btn btn-primary" ng-click="restart()">Ja</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
