<!doctype html>

<p>Du skal måle i BRA. Det betyr <strong>brukseareal</strong>.</p>
<p>Bruksareal er alle målbare plan inne i bygningen, pluss åpne arealer med overbygg (som carport eller lignende).</p>

<div class="row">
	<div class="col col-md-6">
		<img src="/images/bra_figur_01.png" class="img-responsive" alt="illustrasjon"/>
	</div>
	<div class="col col-md-6">
		<img src="/images/bra_figur_02.png" class="img-responsive" alt="illustrasjon"/>
	</div>
</div>
<div class="row">
	<div class="col col-md-6">
		<img src="/images/bra_figur_03.png" class="img-responsive" alt="illustrasjon"/>
	</div>
	<div class="col col-md-6">
		<p><strong>Slik måler du BRA (markert med gult)</strong>:
			<ul>
				<li>Du skal ikke ta med ytterveggene
				</li>
				<li>Alle typer rom skal måles, selv om de ikke er innredet eller kan bebos
				</li>
				<li>Åpne arealer med tak (overbygg), for eksempel carport, skal måles innenfor søylene
				</li>
			</ul>
		</p>
	</div>
</div>



<p>
Hvis bygningen har flere enheter, som tomannsboliger, kontorbygg, boligblokker og lignende, skal du måle alt unntatt ytterveggene.
</p>

<h2>Slik måler du bruksareal på loft (med eksempler)</h2>
<div class="row">
	<div class="col col-md-6">
		<img src="/images/bra_figur_04.png" class="img-responsive" alt="illustrasjon"/>
	</div>
	<div class="col col-md-6">
		<p>
		Når du skal måle, skal du bruke arealet hvor takhøyden innendørs er <strong>1,9 meter eller mer</strong>. Hvis taket skråner, skal du legge til 0,6 meter til siden fra punktet hvor takhøyden er nøyaktig 1,9 meter. <br />
Dette gjelder også der det er gjort takoppbygg.
		</p>
		<p>

På illustrasjonen ser du det som skal regnes med (altså BRA) i gult.
		</p>
		<p>Måling av loft avhenger av takkonstruksjon. Du kan se flere illustrasjoner av dette under:</p>
	</div>
</div>

<div class="row">
	<div class="col col-md-4">
	<img src="/images/bra_figur_05a.png" class="img-responsive" alt="illustrasjon"/>
	<p>
		A-takstol hvor taksperre/hanebjelke ikke er del av bæresystemet:
	</p>
	<p>
		Man skal ikke ta hensyn til taksperren/hanebjelken.
	</p>
	</div>
	<div class="col col-md-4">
	<img src="/images/bra_figur_05b.png" class="img-responsive" alt="illustrasjon"/>
	<p>
	A-takstol hvor taksperre/hanebjelke er del av bæresystemet:
	</p>
	<p>
	Mål til underkant av taksperren/hanebjelken.
	</p>
	</div>
	<div class="col col-md-4">
	<img src="/images/bra_figur_05c.png" class="img-responsive" alt="illustrasjon"/>
	<p>W-takstol</p>
	</div>
</div>
<h2>Slik måler du der innvendig takhøyde overstiger 4,9 meter (med eksempler)</h2>
<div class="row">
	<div class="col col-md-6">
		<img src="/images/bra_figur_12.png" class="img-responsive" alt="illustrasjon"/>
	</div>
	<div class="col col-md-6">
		<p>Hvis det er rom i bygningen som har en innvendig takhøyde på 4,9 meter eller mer, skal du legge til noe som heter fiktiv plan eller tenkt plan. Dette legges til for hver 3. høydemeter innvendig.
 </p>

		<p>Om planbestemmelsene sier at fiktive plan eller tenkte plan ikke skal regnes med i BRA, kan du se helt bort fra dette.
 </p>

		<p>Illustrasjonen viser fiktiv/tenkt etasjeplan 3 meter over 2. etasje. Da blir den innvendige takhøyden i den tenkte etasjen mer enn 1,9 meter. Derfor skal arealet regnes med i BRA.</p>
	</div>
</div>



<h2>Slik måler du areal som ligger helt eller delvis under terreng (med eksempler)</h2>
<!-- AREAL UNDER TERRENG - T-BRA OG %TU -->
<div ng-if="calcMethod === '%TU' || calcMethod === 'T-BRA'">
	<div class="row">
		<div class="col col-md-6">
			<img src="/images/bra_figur_08.png" class="img-responsive" alt="illustrasjon"/>
		</div>
		<div class="col col-md-6">
			<p>Planbestemmelsene for din eiendom avgjør om du skal måle med areal som ligger helt eller delvis under terreng. Det er vanligst at det skal være med.</p>
			<ul>
				<li>Om det ikke står noe spesielt, skal du måle det.</li>
				<li>Om det står at det ikke skal være med, trenger du ikke måle det.</li>
			</ul>
		</div>
	</div>
</div>
<!-- AREAL UNDER TERRENG - BRA og %BRA -->
<div ng-if="calcMethod !== '%TU' && calcMethod !== 'T-BRA'">
	<div class="row">
		<div class="col col-md-6">
			<img src="/images/bra_figur_08.png" class="img-responsive" alt="illustrasjon"/>
		</div>
		<div class="col col-md-6">
			<p>Planbestemmelsene for din eiendom avgjør om du skal måle med areal som ligger helt eller devis under terreng. Det er vanligst at det skal være med.  </p>
			<p>
				<ul>
					<li>Om det ikke står noe spesielt, skal du måle det. </li>
					<li>Om det står at det ikke skal være med, trenger du ikke måle det. </li>
				</ul>
			</p>
		</div>
	</div>
</div>
<!-- END: AREAL UNDER TERRENG -->


<!-- OVERDEKKEDE AREALER -->
<h2>Slik måler du arealer som har tak, men ikke vegger (med eksempler)</h2>

<!--<div class="row" ng-if="calcMethod !== '%TU' || calcMethod !== 'T-BRA'">-->
<div class="row">
	<div class="col col-md-6">
		<img src="/images/bra_figur_09a.png" class="img-responsive" alt="illustrasjon"/>
		<img src="/images/bra_figur_09b.png" class="img-responsive" alt="illustrasjon"/>
	</div>
	<div class="col col-md-6">
		<p>Hvis du har overbygd balkong, terrasse eller veranda, altså tak over, og taket er dypere enn 1 meter, skal <strong>noe</strong> av arealet under taket være med i BRA. </p>
		<p>Du skal <strong>ikke</strong> ta med en meter i bredde inn fra takets ytterkant. Denne ytterste breddemeteren skal trekkes fra.</p>
		<p>I illustrasjonen er BRA markert med gult.
			<ul>
				<li>Hvis det ikke er tak over den øverste balkongen, skal den ikke regnes med i det hele tatt. </li>
				<li>Om taket er 5 meter eller mer over terrenget eller gulvet direkte under, skal det heller ikke regnes med.</li>
			</ul>
		</p>
	</div>
</div>

<div class="row" ng-if="calcMethod === '%TU' || calcMethod === 'T-BRA'">
	<div class="col col-md-6">
		<img src="/images/bra_figur_11.png" class="img-responsive" alt="illustrasjon"/>
	</div>
	<div class="col col-md-6">
		<p>Åpent areal som er mer enn 1,0 meter innenfor ytterkant av dekket over, skal legges til bruksareal.</p>
	</div>
</div>

<!-- TAKUTSTIKK -->
<div class="row">
	<div class="col col-md-6">
		<img src="/images/bra_figur_10.png" class="img-responsive" alt="illustrasjon"/>
	</div>
	<div class="col col-md-6">
		<p>For takutstikk er det samme regler som balkong, terrasse eller veranda med tak over.</p>
		<p>I illustrasjonen er BRA markert med gult.</p>
		<p>Det skal bare regnes med hvis takutstikket er
			<ul>
				<li>Mindre enn fem meter over bakken eller gulv direkte under</li>
				<li>Dypere enn 1 meter</li>
			</ul>
		Du skal også her trekke fra den ytterste breddemeteren fra ytterkant.</p>
	</div>
</div>
