

.cookie-info-wrapper {
  height: @cookieWrapperHeight;
  background: #072938;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: @cookieCloseColor;
  text-align: center;
  display: table;
  padding: 0;
  font-weight: bold;
  line-height: @cookieWrapperHeight;

  & a {
    color: @cookieCloseColor;
    font-size: 1em;
    text-decoration: underline;
  }

  & .cookie-info-close {
    font-size: 1.4em;
    margin-left: 15px;
    padding-right: 15px;
    padding-left: 15px;
    top: 7px;

    &:hover {
      cursor: pointer;
    }
  }
}

.cookie-list {
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .cookie-info-wrapper {
    font-size: 0.8em;
    line-height: normal;

    & span {
      display: table-cell;
      vertical-align: middle;
    }

    & .cookie-info-close {
      top: 0;
    }
  }
}

@media print {

  .cookie-info-wrapper {
    display: none !important;
  }

}