@font-face {
  font-family: 'icomoon';
  src: url(../font/icomoon.eot);
  src: url(../font/icomoon.eot?#iefixbbtjyg) format('embedded-opentype'),
  url(../font/icomoon.woff?bbtjyg) format('woff'),
  url(../font/icomoon.ttf?bbtjyg) format('truetype'),
  url(../font/icomoon.svg?bbtjyg#icomoon) format('svg');
}

[class^="icomoon-"], [class*=" icomoon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  top: 1px;
  display: inline-block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-question:before {
  content: "\e608";
}

.icomoon-info {
  font-size: 1.3em;
  top: 3px;

  &:before {
    content: "\e609";
  }
}

.icomoon-warning:before {
  content: "\e601";
}

.icomoon-list:before {
  content: "\e600";
}

.icomoon-left-arrow-tail:before {
  content: "\e602";
}

.icomoon-left-arrow {

  font-size: 1.2em;
  top: 3px;

  &:before {
    content: "\e603";
  }

}

.icomoon-right-arrow {

  font-size: 1.2em;
  top: 3px;

  &:before {
    content: "\e604";
  }
}

.icomoon-arrow-left2 {

  font-size: 1.6em;
  top: 6px;

  &:before {
    content: "\e602";
  }
}