
ul.linked-list {

  & li {

    padding-left: 33px;
    list-style: none;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 2.5em;

    & .linked-list-circle {
      float: left;
      margin-left: -47px;
      height: @linked-list-circle-size;
      width: @linked-list-circle-size;
      border-radius: @linked-list-circle-size/2;
      border: 2px solid @linked-list-circle-border-color;
      padding-top: 2px;
      text-align: center;
      margin-top: -4px;
      background: white;
      z-index: 1;
      color: @linked-list-circle-color;
      font-size: 0.85em;
    }


    &:before {
      content: "";
      position: absolute;
      border-left: 2px solid @linked-list-circle-border-color;
      height: 100%;
      width: 1px;
      left: 0;
      z-index: -1;
    }

    &:first-child:before {
      top: 6px;
    }

    &:last-child:before {
      height: 6px;
    }

  }
}