
.menu-col {
  background: @menu-background-color;
}

.menu-table-wrapper {
  height: 100%;
  background: @menu-background-color;

  .menu-table {

    background: @menu-background-color;

    & td.menu-td {
      padding: 20px 10px;
      max-height: 50px;
      &.answered {
        & .menu-question-header {
          color: @question-header-answered-color;
        }

        & .menu-question-number {
          background: @question-number-answered-background;
        }
      }
    }

    .bottomMenuText p {
      padding: 0 16px 0 16px;
      width: 90%;
    }

    .menu-question-row {
      margin-top: 5px;
      margin-bottom: 5px;

      &:hover {
        cursor: pointer;

        & .menu-question-header {

          & .header {
            text-decoration: underline;
          }

        }

      }

      &.is-at {
        background-color: @menu-is-at-row-background;

        & .menu-question-header {
          color: @question-header-is-at-color;
        }

        & .menu-question-number {

        }
      }

      &.answered {
        & .menu-question-header {
          color: @question-header-answered-color;
        }

        & .menu-question-number {
          background: @question-number-answered-background;
        }
      }

      & .menu-question-header {

        color: @question-header-default-color;
        padding: 5px;

        & .not-answered-info {
          font-size: 0.8em;
          color: @red-not-answered-color;

          &:hover {
            text-decoration: none;
          }
        }

      }

      & .menu-question-number {
        display: inline-block;
        margin: 10px;
        width: 100%;
        height: 100%;
        max-width: @question-number-size;
        max-height: @question-number-size;
        line-height: @question-number-size;
        text-align: center;
        -webkit-border-radius: @question-number-border;
        -moz-border-radius: @question-number-border;
        border-radius: @question-number-border;
        background: @question-number-default-background;
        color: white;
      }
    }
  }
}

.table-no-border > thead > tr > th,
.table-no-border > tbody > tr > th,
.table-no-border > tfoot > tr > th,
.table-no-border > thead > tr > td,
.table-no-border > tbody > tr > td,
.table-no-border > tfoot > tr > td {
  border-top: none;
}

