
ul#no-linked-list {

  padding-top: 17px;
  padding-bottom: 17px;

  & li {

    list-style-type: circle;
    padding-left: 1px;
    padding-bottom: 2px;

    &:before {
      content: none;
    }

  }

}
