.result-top-container {

  background-color: @result-gray-color;
  padding-bottom: 1em;

  & .go-back {
    margin-top: 25px;
  }

  h2 {
    margin-top: 0;
    line-height: 1.3em;
  }

  &.success {
    background-color: @result-green-color;

    & .result-text {
      color: white;
    }

    & a {
      color: white;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }

    & .go-back a {
      text-decoration: none;
    }

    & .result-info-text {
      color: white;
    }
  }

  & .result-text {
    font-size: 2.2em;
    color: @red-notice-color;

    @media (max-width: @screen-md-max) {
      font-size: 1.8em;
    }

    @media (max-width: @screen-sm-max) {
      font-size: 1.5em;
    }

  }

  .result-icon {
    p {
      margin-bottom: 20px;
      text-align: center;
      @media (max-width: @screen-sm-max) {
        text-align: left;
      }
    }
    img{
      width: 100%;
      max-width: 100px;
      display: inline-block;
    }
  }

  & .result-table {

    margin-bottom: 30px;

    & td {
      padding: 0 15px;
    }

    & img {
      min-height: 50px;
      min-width: 50px;

      max-height: 80px;
      max-width: 80px;

      @media (max-width: @screen-md-max) {
        max-height: 50px;
        max-width: 50px;
      }

    }
  }

  & .result-info-xs {
    margin-bottom: 30px;
    font-size: 0.9em;
  }
}

& .result-summary-container {

  background: #EFEFEF;
  border-bottom: 1px solid #D8D8D8;

  & .result-summary {

    & .result-col {
      float: left;
      position: relative;
      padding: 10px 15px;
    }

    & .result-header {
      font-size: 16px;
      font-family: Helvetica;
      color: #5D5D5D;
      font-weight: normal;
    }
    
    & .result-divider {
      height: 54px; //adjust accordingly to result-summary height
      width: 1px;
      border-left: 2px solid #D8D8D8;
      float: left;
      margin: 10px 25px;
    }

    & .result-value {
      font-family: Helvetica;
      font-size: 28px;
      color: #5D5D5D;
      font-weight: bold;

      & .result-element {
        padding-top: 8px;
      }
    }
  }
}

@media (max-width: @screen-xs-max) {
  .result-divider {
    display: none !important;
  }

  .result-col {
    float: none !important;
  }
}

.result-intro-header {
  margin-top: 50px;
}

.result-intro-table {

  color: #757575;

  & tr:first-child {
    border-top: none;

    & td {
      border-top: none;
    }

  }

}

.result-table-header {
  margin-top: 35px;
}

.result-table-wrapper {

  & .btn-start-again {
    width: 100%;
  }

  & .result-table {

    & tr.inputs {
      height: 67px; // adjust accordingly to .result-table-row

      & td:last-child {
        padding-right: 15px;
      }

    }

    & tbody + tbody {
      border-top: none;
    }

    & tbody:last-child {
      & tr:last-child {
        & td {
          border-bottom: none;
        }
      }
    }

    & tr:first-child {
      border-top: none;

      & td {
        border-top: none;
      }
    }

    & tr:last-child {
      & td {
        border-bottom: 1px solid @table-border-color;
      }
    }

    & td {

      & .not-answered-info {
        font-size: 0.8em;
        color: @red-notice-color;

        &:hover {
          text-decoration: none;
        }
      }

      & .result-table-question-header {
        color: @question-header-answered-color;
      }

      &.answered {
        & .result-table-question-number {
          background: @question-number-answered-background;
        }
      }

    }

    .result-table-row {

      &.with-question-link {

        &:hover {
          cursor: pointer;

          & .result-table-question-header {
            text-decoration: underline;
          }
        }

      }

      & .result-table-question-number {
        display: inline-block;
        margin: 10px;
        width: @question-number-size;
        height: @question-number-size;
        line-height: @question-number-size;
        text-align: center;
        -webkit-border-radius: @question-number-border;
        -moz-border-radius: @question-number-border;
        border-radius: @question-number-border;
        background: @question-number-default-background;
        color: white;
      }

      & .empty-fill {
        padding: @question-number-size;
      }

      & td:last-child {
        padding-right: 15px;
      }

    }

  }

}

.lock-icon {
  height: 15px;
  width: 15px;
  margin-top: -5px;
  margin-left: 10px;
}

@media print {

  .result-summary {
    margin-top: -50px !important;
  }

  .result-table {
    margin-top: 25px !important;
  }

  .go-back, .result-info-text, .btn-start-again {
    display: none !important;
  }

}
