@font-face {
  font-family: 'altisbold';
  src: url(../font/altis-bold-webfont.eot);
  src: url(../font/altis-bold-webfont.eot?#iefix) format('embedded-opentype'),
  url(../font/altis-bold-webfont.woff) format('woff'),
  url(../font/altis-bold-webfont.ttf) format('truetype'),
  url(../font/altis-bold-webfont.svg#altisbold) format('svg');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1200px) {
  .container-max-width {
    width: 1200px;
  }
}

html, body {
  height: 100%;
}

.clear {
  clear: both;
  line-height: 0;
  height: 0;
  font-size: 0em;
}

#main-container {
  margin-top: -84px;
  padding-top: 84px;
}

body {
  .normal-text;
}

label:extend(*) {
  font-weight: normal;
}

a {
  color: @main-blue-color;
  &.start-btn {
    background-color: @startbutton-background;
    padding: 15px 75px;
  }

  &.btn-all-questions {
    background-color: @allquestionsbutton-background;
    .paddingLeftAndRight(16px, 45px);
    .paddingTopAndBottom(10px, 10px);
    font-weight: normal;
    font-size: 17px;
  }
  &.btn-start-again {
    background-color: transparent;
    border: 1px solid @main-blue-color;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    color: @main-blue-color;

    &:hover {
      padding: 9px 16px; //we need smaller padding when more border to not move the text
      border: 2px solid @main-blue-color;
      color: @main-blue-color;
      background-color: transparent;
    }

  }
  &.btn-show-result {
    border: 1px solid @main-blue-color;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    background-color: @main-blue-color;
    color: white;
  }
  &.btn-proceed {
    .btn-show-result;
    width: 250px;
  }
  &.arrow {
    margin-top: 25px;
    white-space: nowrap;
    font-weight: normal;
    .normal-text;
  }
  &.answerlink {
    text-decoration: underline;
    font-size: 17px;
  }
  &.bolder {
    font-weight: bold;
  }
}

nav.withIcons a,
.withIcon {
  /*display: block;*/
  position: relative;

  span {
    position: relative;
    padding-left: 30px;
    display: inline-block;
  }

  span[class^="icomoon-"],
  span[class*=" icomoon-"] {
    position: absolute;
    padding: 0;
    top:0;
  }
}

h1.withIcon {
  padding: .2em 0;
  span {
    padding-left: 60px;
  }
  span[class^="icomoon-"],
  span[class*=" icomoon-"] {
    top:0;
  }
}

nav.withIcons a {
  display: block;
  padding: 0.5em 1em 0.5em 0;
  span[class^="icomoon-"],
  span[class*=" icomoon-"] {
    top: .4em;
  }
}

span {
  &.question-header {
    border: none;
    margin-right: 25px;
    .paddingLeftAndRight(0px, 10px);
    font-size: 20px;
  }

  &.question-arrow {
    .paddingLeftAndRight(20px, 20px);
  }
}

table.summarytable {
  background-color: @summary-table-background;
  & tr td {
    padding-left: 1em;
    padding-right: 0;
  }

  &.answer-table td {
    text-align: left;
  }
}

td {
  &.fixed-width {
    width: 3em;
  }
  &.question-header {
    width: 10%;
  }
}

article, section, aside, nav, header, footer, figure, figcaption {
  display: block;
}

figure {
  margin: 0 0 10px 0;
}

input {
  &[type="radio"].answer-radio {
    height: 1.5em;
    width: 1.5em;
    margin-right: 25px;
  }
  &.ng-invalid-number, &.ng-invalid-max, &.ng-invalid-min, &.ng-invalid-pattern, &.ng-invalid-demand-not-fulfilled {
    background: @invalid-color;
  }
  &.reset-checkbox {
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;
  }
}

div {
  .input-group {
    max-width: 300px;
    width: 100%;
  }
  .menu-list {
    .paddingTopAndBottom(25px, 10px);
  }
}
/* disable auto-zoom on iphone input field focus */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='text'],
  input[type='number'] {
    font-size: 16px;
  }
}

.dark-background {
  background-color: @background-color-dark;
}

.menu-background {
  background-color: @menu-background-color;
}

.light-color {
  color: @main-color-light;
}

.table > tbody > tr > td:extend(*) {
  vertical-align: middle;
}

.text-answer {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: @summary-answer-text-color;
  line-height: @summary-line-height;
}

.notRounded {
  border-radius: 0;
}

.buttonBorders {
  border: 0;
  .notRounded;
  padding: 15px 75px;
}

.paddingLeftAndRight(@leftPadding; @rightPadding) {
  padding-left: @leftPadding;
  padding-right: @rightPadding;
}

.paddingTopAndBottom(@topPadding; @bottomPadding) {
  padding-top: @topPadding;
  padding-bottom: @bottomPadding;
}

.marginTopAndBottom(@topMargin; @bottomMargin) {
  margin-top: @topMargin;
  margin-bottom: @bottomMargin;
}

.no-margin-left {
  margin-left: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.container-fluid .jumbotron:extend(*) {
  border-radius: 0;
}

.jumbotron {
  padding: 30px 0;
  p {
    .normal-text;
  }
  h1 {
    font-size: 2em;
    margin: 0 0 20px 0;
    span[class^="icomoon-"],
    span[class*=" icomoon-"] {
      font-size: 1.5em;
      padding-right: 10px;
      vertical-align: middle;
    }
  }
}

.go-back {
  display: block;
  margin-bottom: 25px;

  & a:hover {
    text-decoration: none;
  }
}

.controlQuestions div {
  padding-top: 10px;
}

.text-warning:extend(*) {
  color: @warning-text-color;
  font-size: @warning-text-font-size;
  line-height: 20px;
  font-weight: normal;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.plain-container {
  .notRounded;
  .paddingLeftAndRight(0, 0);
  background-color: @background-color-light;
  padding-top: 50px;
}

.intro-container {
  .plain-container;
  .dark-background;
}

.has-error {
  background-color: @form-distinguish-color;
  color: @input-font-color-error;
  border-color: @distinguish-border-color;
}

.btn-primary.active {
  border-color: @answered-color;
}

.navbar-inverse:extend(*) {
  background-color: @main-color-dark;
}

.navbar-header {
  .light-color;
  background-color: @main-color-dark;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'altisbold';
}

.navbar-plain {
  margin-bottom: 0;
}

.normal-text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 23px;
}

.invalid-text {
  .normal-text;
  color: @invalid-color;
}

.dark-text {
  color: @main-color-dark;
  .normal-text;
}

.header-text {
  font-weight: bold;
}

.menu-text {
  color: @menu-text-color;
  .normal-text;
}

.light-text {
  .light-color;
  .normal-text;
}

.dark-text-bold {
  color: @main-color-dark;
  font-size: 20px;
  .normal-text;
  font-weight: bold;
  line-height: 24px;
}

.light-text-bold {
  .dark-text-bold;
  .light-color;
}

.plain-text, p.plain-text {
  .normal-text;
}

.font-size {
  font-size: medium;
  &.xx-small {
    font-size: xx-small;
  }
  &.x-small {
    font-size: x-small;
  }
  &.small {
    font-size: small;
  }
  &.large {
    font-size: large;
  }
  &.x-large {
    font-size: x-large;
  }
  &.xx-large {
    font-size: xx-large;
  }
  &.bold {
    font-weight: bold;
  }
  &.bolder {
    font-weight: bolder;
  }
  &.italic {
    font-style: italic;
  }
  &.oblique {
    font-style: oblique;
  }
  &.capitalize {
    text-transform: capitalize;
  }
  &.lowercase {
    text-transform: lowercase;
  }
  &.uppercase {
    text-transform: uppercase;
  }
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
}

.col-max-width {
  max-width: @colmaxwidth;
}

.bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

/*
Trying to adjust the checkboxes and radio buttons to stay on the same line as the labels.
This is kind of a hack.
Depending on the label font-size and browser we might need more or less pixels.
*/
input[type='checkbox'], input[type='radio'] {
  vertical-align: -4px;
  + label {
    @media (max-width: @screen-sm-min) {
      display: inline-block;
      width: 80%;
      vertical-align: middle;
    }
  }
}

.header-input {
  font-weight: normal;
}

input[type='text'], input[type='number'] {
  height: 45px;
}

.text-indent {
  text-indent: 25px;
}

.italic {
  font-style: italic;
}

.text-smaller {
  font-size: 0.90em;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.max-image-height {
  max-height: 300px;
}

.red-notice {
  color: @red-notice-color;
}

.start-gray-container {
  padding: 0;
  position: relative;
  background: #F4F4F4;
  z-index: -99;
}

.start-gray-row {
  position: relative;
  background: #F4F4F4;
  z-index: -99;

  & .linked-list-circle {
    background: #F4F4F4 !important;
  }
}

.margin-under {
  margin-bottom: 50px;
}

.margin-over {
  margin-top: 50px;
}

.bold-medium-header {
  font-size: 20px;
  font-weight: 600;
}
