/* Overriding bootstrap */
@icon-font-path: '../../../bower_components/bootstrap/fonts/';

/* Shared */
@form-distinguish-color: #FF6A6A;
@input-font-color-error: #000000;
@distinguish-border-color: #A3956F;
@answered-color: #000000;
@summary-table-background: #FEFEFE;
@summary-line-height: 18px;
@summary-answer-text-color: #545454;
@background-color-dark: #0A3548;
@background-color-light: #FFFFFF;
@background-color-gray: #FCFCFC;
@main-color-dark: #072938;
@main-color-light: #FFFFFF;
@menu-text-color: #007BC0;
@warning-text-color: #A83721;
@warning-text-font-size: 15px;
@hover-color-button: #00692E;
@invalid-color: lightpink;
@startbutton-background: @main-blue-color;
@allquestionsbutton-background: #007BC0;
@colmaxwidth: 750px;
@red-notice-color: #FF1F1F;
@red-not-answered-color: #B50000;

@main-blue-color: #0062B3;

/* Cookie-info.less */
@cookieWrapperHeight: 60px;
@cookieCloseColor: white;

/* Icomoon */

/* Menu */
@menu-background-color: #EFEFEF;

@menu-is-at-row-background: #dddddd;

@question-number-border: 6px;
@question-number-size: 30px;
@question-number-default-background: #767676;
@question-number-is-at-background: @main-blue-color;
@question-number-answered-background: #11883D;

@question-header-default-color: @main-blue-color;
@question-header-answered-color: @main-blue-color;
@question-header-is-at-color: @main-blue-color;

/* Result */
@result-green-color: #07aa4c;
@result-gray-color: #F4F4F4;


/* Linked list */
@linked-list-circle-size: 30px;
@linked-list-circle-color: #0062B3;
@linked-list-circle-border-color: #0062B3;