<!doctype html>
<p>Hvis det ikke er noe bebyggelse på eiendommen din, kryss av for "Ingen bebyggelse" under. Da fylles feltene automatisk ut med 0.</p>
<p>Du skal måle areal i {{baseCalculationMethod}}. Det betyr <strong>{{calculationMethodDescription}}</strong>.</p>
<p><a ng-href="/#/controlquestions" class="withIcon"><span class="icomoon-info"></span><span>Hva er {{calculationMethodDescription}}?</span></a></p>
