<!doctype html>
<div ng-controller="Input-3-Controller">
  <br>
  <div>
    <input id="resetAreal" ng-model="checked" class="reset-checkbox" ng-click="resetValues()" type="checkbox">
    <label for="resetAreal">Ingen bebyggelse</label>
  </div>

  <br>

  <div ng-repeat="input in inputs">
    <h4>{{input.header}}</h4>

    <div>
      <ng-form class="form-inline" name="forms.{{input.name}}Form">
        <div class="form-group">
          <div class="input-group">
            <input type="number"
                   ng-focus="input.model === 0 ? input.model = '' : input.model"
                   name="{{input.name}}"
                   ng-model="input.model"
                   maxlength="10"
                   max="100000"
                   class="form-control ng-error"
                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                   id="{{input.name}}"
                   placeholder="Sett kun inn tall"
                   ng-change="inputChange(input.name, input.model)">

            <div class="input-group-addon">m2</div>
          </div>
        </div>
        <div role="alert">
          <i>
            <span ng-show="areaForm.area.$valid">&nbsp;</span>
            <span class="invalid-text" ng-show="forms.{{input.name}}Form.{{input.name}}.$error.max">For stort tall</span>
            <span class="invalid-text" ng-show="forms.{{input.name}}Form.{{input.name}}.$error.number">Benytt kun tall</span>
            <span class="invalid-text" ng-show="forms.{{input.name}}Form.{{input.name}}.$error.pattern">Kun to desimaler</span>
          </i>
        </div>
      </ng-form>
    </div>
  </div>
</div>
