<!DOCTYPE html>

<div ng-controller="ResultController">
  <div class="container-fluid result-top-container" ng-class="{success: resultType === 'valid'}">

    <div class="container-fluid container-max-width">

      <div class="row">
        <div class="col-xs-12">
          <div class="go-back">
            <a ng-href="/#question/{{currentQuestion}}"> &lt;&nbsp;Tilbake</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          <div class="table table-no-border">

            <div class="col-xs-12 col-md-2 result-icon">
              <p>
                <img ng-if="resultType === 'exceeding' || resultType === 'incomplete'" src="/images/result-red-x.png" class="img-responsive">
                <img ng-if="resultType === 'valid'" src="/images/result-valid.png" class="img-responsive">
              </p>
            </div>
            <div class="col-xs-12 col-md-10">
              <h2 class="result-text" ng-if="resultType === 'incomplete'">Du har ikke svart på alle spørsmålene.<br>Fullfør veilederen for å få et resultat.</h2>
              <h2 class="result-text" ng-if="resultType === 'valid'">Du er innenfor det som er tillatt å bygge på eiendommen din.</h2>
              <h2 class="result-text" ng-if="resultType === 'exceeding'">Du planlegger å bygge mer enn det som er tillatt på eiendommen din.</h2>

              <p class="result-info-text" ng-if="resultType === 'valid' || resultType === 'exceeding'">
                Husk at det er ditt ansvar at du oppgir riktig informasjon og bygger lovlig.
                Dersom bygningen er oppført ulovlig kan den i verste fall rives.
              </p>

              <p class="result-info-text">
                Hvis du ønsker å endre noe, kan du klikke deg inn på hvert spørsmål i oppsummeringen nedenfor.<br>
                Hvis du vil endre svar fra introduksjonen, må du <a href="" ng-click="showModal()">starte veilederen på nytt.</a>
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid result-summary-container" ng-if="resultType !== 'incomplete'">
    <div class="container-fluid container-max-width">

      <div class="row result-summary" ng-controller="ResultHeaderController">
        <div class="result-col">
          <div class="result-header">Tillat grad av utnytting</div>

          <div class="result-value">
            <div class="result-element" ng-show="demand > 0">{{demand}}&nbsp;{{unit}}</div>
            <div class="result-element" ng-show="isUtilizationPercent && allowedArea > 0">{{allowedArea}}&nbsp;m2</div>
          </div>
        </div>

        <div class="result-divider"></div>

        <div class="result-col">
          <div class="result-header">Din planlagte grad av utnytting</div>

          <div class="result-value">
            <div class="result-element" ng-show="isUtilizationPercent && usedAreaPercent > 0">{{usedAreaPercent}}&nbsp;%</div>
            <div class="result-element" ng-show="sumBuiltArea > 0">{{sumBuiltArea}}&nbsp;m2</div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid container-max-width">

    <div class="bold-medium-header result-intro-header">Dine svar fra introduksjonen</div>

    <div class="row" ng-controller="IntroRowController">

      <div class="col-xs-12">
        <table class="table result-intro-table">
          <tr ng-repeat="question in introQuestions">
            <td class="col-xs-10 header">{{question.header}}</td>
            <td class="col-xs-2 text-right answer">{{question.answer}}</td>
          </tr>
        </table>
      </div>

    </div>

  </div>

  <div class="container-fluid container-max-width">

    <div class="bold-medium-header result-table-header">Dine svar fra veilederen</div>

    <div class="row" ng-controller="ResultRowController">
      <div class="col-xs-12 result-table-wrapper">
        <table class="table result-table">
          <tbody ng-repeat="question in questions">
          <tr class="result-table-row with-question-link"
              ng-click="goTo(question.number)">

            <td class="col-xs-1" ng-class="{'answered' : isAnswered(question.number)}">
              <div class="result-table-question-number">{{question.number}}</div>
            </td>

            <td class="col-xs-9" ng-class="{'answered' : isAnswered(question.number)}">
              <span class="result-table-question-header">{{question.header}}</span>
              <span class="not-answered-info" ng-if="!isAnswered(question.number)">Ikke besvart</span>
            </td>

            <td class="col-xs-2 text-right">
              <span ng-show="isAnswered(question.number)"><strong>{{resultFor(question.number)}}</strong>&nbsp;m2</span>
            </td>
          </tr>
          <tr class="inputs" ng-repeat="input in question.inputs">
            <td class="col-xs-1"><!-- empty --></td>

            <td class="col-xs-9">{{input.header}}</td>

            <td class="col-xs-2 text-right">
              <span ng-show="resultForInput(input.key) || resultForInput(input.key) >= 0"><strong>{{resultForInput(input.key)}}</strong>&nbsp;m2</span>
            </td>
          </tr>
          </tbody>

          <tbody>
          <tr class="result-table-row">
            <td class="col-xs-1 empty-fill"></td>
            <td class="col-xs-9 bold">Tillat grad av utnytting</td>
            <td class="col-xs-2 text-right">
              <span ng-show="allowedArea() > 0"><b>{{allowedArea()}}</b>&nbsp;m2</span>
            </td>
          </tr>

          <tr class="result-table-row">
            <td class="col-xs-1 empty-fill"></td>
            <td class="col-xs-9 bold">Din planlagte grad av utnytting</td>
            <td class="col-xs-2 text-right">
              <span ng-show="sumBuiltArea() >= 0"><b>{{sumBuiltArea()}}</b>&nbsp;m2</span>
            </td>
          </tr>

          <tr class="result-table-row">
            <td class="col-xs-1 empty-fill"></td>
            <td class="col-xs-9 bold">
              <span ng-show="!builtExceedsAllowed()">Gjenstående areal du kan bygge på</span>
              <span ng-show="builtExceedsAllowed()">Areal du må redusere</span>
            </td>
            <td class="col-xs-2 text-right">
              <span ng-class="{'red-notice': builtExceedsAllowed()}" ng-show="allowedArea() >= 0 && sumBuiltArea() >= 0">
                <b>{{removeMinus(format(allowedArea() - sumBuiltArea()))}}</b>&nbsp;m2
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row row-centered">
      <div class="col-sm-6 col-xs-12 col-centered" ng-show="!showPrintButton">
        <a href="" class="btn btn-primary btn-lg btn-start-again" ng-click="showModal()" role="button">Start på nytt</a>
      </div>

      <div class="col-md-6 col-xs-12" ng-show="showPrintButton">
        <a href="" class="btn btn-primary btn-lg btn-start-again" ng-click="showModal()" role="button">Start på nytt</a>
      </div>
      <div class="col-md-6 col-xs-12" ng-show="showPrintButton">
        <a href="" class="btn btn-primary btn-lg btn-start-again" ng-click="openPrintWindow()" role="button">Skriv ut resultat</a>
      </div>
    </div>

    <restart-modal></restart-modal>
    <span ng-controller="HotjarController"></span>
  </div>

</div>