<!doctype html>

<div class="container-fluid container-max-width" ng-controller="IntroController">
  <div class="row">
    <div class="col-md-8 col-max-width">

      <div class="text-left">
        <h3 class="font-size large bolder dark-text-bold">Er eiendommen regulert?</h3>

        <p>Fant du en reguleringsplan hos kommunen, er eiendommen regulert.</p>

        <input id="regulated" ng-click="checkProceeding()"
               class="reset-checkbox"
               type="radio"
               name="regulationRadios"
               ng-model="IntroFactory.regulated"
               ng-value="true"
               ng-change="introPropertyUpdated('regulated', '{{IntroFactory.regulated}}')">
        <label for="regulated">Ja, eiendommen er regulert.</label><br>

        <input id="notRegulated"
               ng-click="checkProceeding()"
               class="reset-checkbox"
               type="radio"
               name="regulationRadios"
               ng-model="IntroFactory.regulated"
               ng-value="false"
               ng-change="introPropertyUpdated('regulated', '{{IntroFactory.regulated}}')">
        <label for="notRegulated"> Nei, eiendommen er ikke regulert.</label>

      </div>

      <div class="text-left" ng-show="IntroFactory.regulated === false">
        <h3 class="font-size large bolder dark-text-bold">
          Er det bestemmelser i kommuneplanen eller -delplanen som sier noe om tillatt grad av utnytting?
        </h3>
        <input id="decision"
               class="reset-checkbox"
               ng-click="checkProceeding()"
               type="radio"
               name="decisionRadios"
               ng-model="IntroFactory.decision"
               ng-value="true"
               ng-change="introPropertyUpdated('decision', '{{IntroFactory.decision}}')">
        <label for="decision"> Ja</label><br>

        <input id="notDecision"
               class="reset-checkbox"
               ng-click="checkProceeding()"
               type="radio"
               name="decisionRadios"
               ng-model="IntroFactory.decision"
               ng-value="false"
               ng-change="introPropertyUpdated('decision', '{{IntroFactory.decision}}')">
        <label for="notDecision"> Nei</label>
      </div>

      <div ng-if="IntroFactory.showError" class="text-warning">
        Beklager, da kan du ikke bruke denne veilederen. Ta kontakt med kommunen din, så hjelper de deg videre.
      </div>

      <div ng-show="IntroFactory.showOverridingQuestion">

        <div ng-show="IntroFactory.regulated">
          <div class="text-left">
            <h3 class="font-size large bolder dark-text-bold">
              Står det noe i kommuneplanen eller delplanen om at den gjelder foran reguleringsplanen?
            </h3>

            <p>
              Hvis reguleringsplanen er vedtatt senere enn kommuneplanen/-delplanen,
              er det reguleringsplanen som gjelder, og du kan svare nei.
            </p>
            <input id="overridingDecision"
                   class="reset-checkbox"
                   type="radio"
                   name="overridingDecisionRadios"
                   ng-model="IntroFactory.regulationPlan"
                   ng-value="'kommuneplanen'"
                   ng-change="introPropertyUpdated('regulationPlan', '{{IntroFactory.regulationPlan}}')">
            <label for="overridingDecision">Ja, den gjelder foran reguleringsplanen</label><br>

            <input id="notOverridingDecision"
                   class="reset-checkbox"
                   ng-model="IntroFactory.regulationPlan"
                   ng-value="'reguleringsplanen'"
                   type="radio"
                   name="overridingDecisionRadios"
                   ng-change="introPropertyUpdated('regulationPlan', '{{IntroFactory.regulationPlan}}')">
            <label for="notOverridingDecision">Nei, det står ingenting om det</label>
          </div>
        </div>

        <div ng-show="IntroFactory.regulationPlan">

            <!-- RULE SELECTION -->
            <div class="text-left">
              <h3 class="font-size large bolder dark-text-bold">
                Hvordan defineres grad av utnytting i {{IntroFactory.regulationPlan}}?
              </h3>
              <input id="bya"
                     class="reset-checkbox"
                     type="radio"
                     name="unitRadios"
                     ng-model="IntroFactory.calculationMethod"
                     ng-value="m2BYA"
                     ng-change="calculationMethodUpdated('calculationMethod', '{{IntroFactory.calculationMethod}}')">
              <label for="bya">{{m2BYA}}</label><br>

              <input id="pct-bya"
                     class="reset-checkbox"
                     type="radio"
                     name="unitRadios"
                     ng-model="IntroFactory.calculationMethod"
                     ng-value="pctBYA"
                     ng-change="calculationMethodUpdated('calculationMethod', '{{IntroFactory.calculationMethod}}')">
              <label for="pct-bya">{{pctBYA}}</label><br>


              <input id="bra"
                    class="reset-checkbox"
                    type="radio"
                    name="unitRadios"
                    ng-model="IntroFactory.calculationMethod"
                    ng-value="m2BRA"
                    ng-change="calculationMethodUpdated('calculationMethod', '{{IntroFactory.calculationMethod}}')">
              <label for="bra">{{m2BRA}}</label><br>

              <input id="pct-bra"
                    class="reset-checkbox"
                    type="radio"
                    name="unitRadios"
                    ng-model="IntroFactory.calculationMethod"
                    ng-value="pctBRA"
                    ng-change="calculationMethodUpdated('calculationMethod', '{{IntroFactory.calculationMethod}}')">
              <label for="pct-bra">{{pctBRA}}</label><br>

              <input id="t-bra"
                    class="reset-checkbox"
                    type="radio"
                    name="unitRadios"
                    ng-model="IntroFactory.calculationMethod"
                    ng-value="m2TBRA"
                    ng-change="calculationMethodUpdated('calculationMethod', '{{IntroFactory.calculationMethod}}')">
              <label for="t-bra">{{m2TBRA}}</label><br>

              <input id="pct-tu"
                    class="reset-checkbox"
                    type="radio"
                    name="unitRadios"
                    ng-model="IntroFactory.calculationMethod"
                    ng-value="pctTU"
                    ng-change="calculationMethodUpdated('calculationMethod', '{{IntroFactory.calculationMethod}}')">
              <label for="pct-tu">{{pctTU}}</label><br>


              <input id="none-of-these"
                    class="reset-checkbox"
                    type="radio"
                    name="unitRadios"
                    ng-model="IntroFactory.calculationMethod"
                    ng-value="'none'"
                    ng-change="calculationMethodUpdated('calculationMethod', '{{IntroFactory.calculationMethod}}')">
              <label for="pct-bra">Ingen av disse</label>

            </div>

            <div ng-if="IntroFactory.showErrorNoCalcMethod" class="text-warning">
              Beklager, da kan du ikke bruke denne veilederen. Ta kontakt med kommunen din, så hjelper de deg videre.
            </div>

            <!-- FØR ELLER ETTER ÅR -->
            <div ng-show="!(IntroFactory.calculationMethod === m2BRA || IntroFactory.calculationMethod === pctBRA || IntroFactory.calculationMethod === undefined)
              && !IntroFactory.showErrorNoCalcMethod">

              <div class="text-left">
                <h3 class="font-size large bolder dark-text-bold">
                  Når er {{IntroFactory.regulationPlan}} vedtatt?
                </h3>
                <input id="regulationBefore"
                       class="reset-checkbox"
                       name="regulationTimeRadios"
                       type="radio"
                       ng-model="IntroFactory.regulationTime"
                       ng-value="'before'"
                       ng-change="introPropertyUpdated('regulationTime', '{{IntroFactory.regulationTime}}')">
                <label for="regulationBefore">Før {{years[IntroFactory.calculationMethod]}}</label><br>

                <input id="regulationAfter"
                       class="reset-checkbox"
                       name="regulationTimeRadios"
                       type="radio"
                       ng-model="IntroFactory.regulationTime"
                       ng-value="'after'"
                       ng-change="introPropertyUpdated('regulationTime', '{{IntroFactory.regulationTime}}')">
                <label for="regulationAfter">Etter {{years[IntroFactory.calculationMethod]}}</label>
              </div>
            </div>

              <div ng-show="(IntroFactory.regulationTime || IntroFactory.showUtilizationInput) && !IntroFactory.showErrorNoCalcMethod">
                <div class="text-left">
                  <h3 class="font-size large bolder dark-text-bold">
                    Hva er tillatt grad av utnytting i {{IntroFactory.regulationPlan}}?
                  </h3>

                  <form class="form-inline" name="utilizationAreaForm">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="number"
                               name="utilizationArea"
                               ng-model="IntroFactory.utilizationArea"
                               maxlength="10"
                               max="{{IntroFactory.unit === '%' ? '100' : '100000'}}"
                               class="form-control ng-error"
                               ng-pattern="handlePatternUtilizationArea"
                               id="utilizationAreaInput"
                               placeholder="Sett kun inn tall"
                               ng-change="updateUtilization(IntroFactory.utilizationArea)"
                               ng-blur="introPropertyUpdated('utilizationArea')">

                        <div class="input-group-addon">{{getUnitFromCalculationMethod(IntroFactory.calculationMethod)}}</div>
                      </div>
                    </div>
                    <div role="alert">
                      <i>
                        <span ng-show="utilizationAreaForm.propertyArea.$valid">&nbsp;</span>
                        <span class="invalid-text" ng-show="utilizationAreaForm.utilizationArea.$error.max">For stort tall</span>
                        <span class="invalid-text" ng-show="utilizationAreaForm.utilizationArea.$error.number">Benytt kun tall</span>
                        <span class="invalid-text" ng-show="utilizationAreaForm.utilizationArea.$error.pattern">Kun to desimaler</span>
                      </i>
                    </div>
                  </form>
                </div>
              </div>
        </div>

      </div>
    </div>

  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-xs-12">
      <p class="text-left">
        <button ng-click="proceed()" class="btn btn-primary btn-lg btn-proceed" ng-disabled="preventProceeding()" role="button">Gå videre</button>
      </p>
    </div>
  </div>

  <confirm-intro-change-modal></confirm-intro-change-modal>

</div>
