<!DOCTYPE html>
<footer ng-if="version !== ''">
  <div class="container-fluid">
	  <div class="text-center font-size small">
		  <span>
		    Denne nettsiden benytter seg av cookies. <a href="/#/cookieinfo">Les mer om vår bruk av cookies her.</a>
		  </span>
		</div>
    <hr>
    <div class="footer-nav text-info text-center font-size xx-small italic text-muted margin-under">
      Version: {{version}} {{timestamp}}
    </div>
  </div>
</footer>