<!doctype html>

<h4>Areal</h4>
<div ng-controller="Input-1-Controller">
  <form class="form-inline" name="propertyAreaForm">
    <div class="form-group">
      <div class="input-group">
        <input type="number"
               name="propertyArea"
               ng-model="propertyArea"
               maxlength="10"
               max="100000"
               class="form-control ng-error"
               ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
               id="propertyAreaInput"
               placeholder="Sett kun inn tall"
               ng-change="updateResult('propertyArea', propertyArea)">

        <div class="input-group-addon">m2</div>
      </div>
    </div>
    <div role="alert">
      <i>
        <span ng-show="propertyAreaForm.propertyArea.$valid">&nbsp;</span>
        <span class="invalid-text" ng-show="propertyAreaForm.propertyArea.$error.max">For stort tall</span>
        <span class="invalid-text" ng-show="propertyAreaForm.propertyArea.$error.number">Benytt kun tall</span>
        <span class="invalid-text" ng-show="propertyAreaForm.propertyArea.$error.pattern">Kun to desimaler</span>
      </i>
    </div>
  </form>
</div>
