<!doctype html>
<div ng-controller="ControlQuestionsController">
  <div class="jumbotron">
    <div class="container">
      <a ng-href="/#/question/{{number}}" class="go-back"> &lt;&nbsp;Tilbake</a>

      <div ng-show="baseCalculation=='BYA'">
        <h1 class="result-text withIcon">
          <span class="icomoon-info"></span>
          <span>Dette er bebygd areal</span>
        </h1>

        <p>
          Her er en forklaring på hva som regnes som bebygd areal. Merk: Det er viktig at
          du husker å regne med åpne overbygde areal, utkragede bygningsdeler og deler
          plassert 0,5 meter over terreng – se forklaringer nedenfor.
        </p>
      </div>
      <div ng-show="baseCalculation=='BRA'">
        <h1 class="result-text withIcon">
          <span class="icomoon-info"></span>
          <span>Dette er bruksareal</span>
        </h1>

        <p>
          Her er en forklaring på hva som regnes som bruksareal.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-10 controlQuestions">
      <div ng-repeat="question in controlQuestions[baseCalculation.toLowerCase()]" ng-include="question.include"></div>
    </div>
  </div>
</div>
