<!DOCTYPE html>
<div ng-controller="ProgressbarController">
  <div class="progress utn-progress">
    <div class="progress-bar utn-progress-bar" role="progressbar" aria-valuenow="{{progress()}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: progress() + '%'}">
    </div>
  </div>
</div>